[mysqld]
server-id=5
log_bin=mysql-bin
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON
binlog_format=ROW
bind-address=0.0.0.0

# --- Manejo de colisiones Auto Increment (6 nodos) ---
auto_increment_increment=6
auto_increment_offset=5

# --- Optimización de replicación ---
replica_net_timeout=60
relay_log=relay-bin
relay_log_recovery=ON
